* {
    --primary-color: #213760;
    --danger-color: #602158;
    --warning-color: #604921;
    --success-color: #216029;
    --background-color: #e8ebef;
    --text-color-1: #ffffff;
    --text-color-2: var(--primary-color);
    --default-font-size: 1.125rem;
    --header-height: 5rem;
  
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    font-size: var(--default-font-size);
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 100%;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .page-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
  .page-header-container {
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(197, 197, 197);
  }
  
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 1rem 2rem;
    height: var(--header-height);
  }
  
  .hamburger-toggle {
    padding: 0.25rem;
    background-color: var(--background-color);
    border: none;
    z-index: 9999;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .hamburger-toggle .fas {
    color: var(--primary-color);
    background-color: var(--background-color);
  }
  
  .logout-button {
    display: grid;
    place-content: center;
    background-color: var(--primary-color);
    border-radius: 1.25rem;
    border: none;
    width: 100px;
    height: 40px;
  }
  
  .logout-button .logout-link {
    color: var(--text-color-1);
    font-size: 1rem;
    padding: 10px 22px;
  }
  
  .logout-button:hover {
    background-color: var(--danger-color);
    transition: 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .logout-button[data-visible="false"] {
    display: none;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    transform: translateX(-500%);
    height: 100%;
    width: auto;
    border-right: 1px solid rgb(197, 197, 197);
    border-bottom: 1px solid rgb(197, 197, 197);
    background-color: var(--background-color);
    border-radius: 0 1rem 1rem 0;
    z-index: 9999;
  }
  
  @media screen and (max-width: 520px) {
    .sidebar {
      width: 100vw;
      transition: 0s;
    }
  }
  
  .sidebar[data-visible="true"] {
    transform: translateX(0%);
    transition: 0.5s ease-out;
  }
  
  .sidebar[data-visible="false"] {
    transform: translateX(-100%);
    transition: 0.5s ease-out;
  }
  
  .sidebar-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  
  .sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 20px 2rem 20px 2rem;
    width: 100%;
  }
  
  .hamburger-toggle.close {
    padding: 0;
    background-color: var(--background-color);
  }
  
  .hamburger-toggle.close .fas {
    background-color: var(--background-color);
    color: var(--primary-color);
  }
  
  .hamburger-toggle.close .fas:hover {
    color: var(--danger-color);
    transition: 0.3s;
  }
  
  .sidebar-header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .sidebar-nav {
    width: 100%;
  }
  
  .sidebar-nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .sidebar-nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border-top: 1px solid rgb(197, 197, 197);
    width: 100%;
  }
  
  #sidebar-logout-item[data-visible="false"] {
    display: none;
  }
  
  .sidebar-nav-item-link {
    color: var(--primary-color);
    width: 100%;
  }
  
  .sidebar-nav-item-link:hover {
    background-color: var(--text-color-1);
    transition: 0.3s ease-out;
  }
  
  .nav-item-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem;
  }
  
  .sidebar-nav-item .fas {
    width: 1rem;
    height: 1rem;
  }
  
  .page-content {
    height: 100vh;
  }
  
  /* Body content */
  
  .page-content-section {
    height: calc(100% - var(--header-height));
    width: 100%;
  }
  
  .page-content-container {
    height: 100%;
    padding: 2rem;
    place-content: center;
  }
  
  @media screen and (max-width: 600px) {
    .page-content-container {
      padding: 1px;
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a1a4a8;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #8b8d90;
  }
  
  .add-record-header-text {
    color: var(--primary-color);
    padding: 10px;
    font-size: 24px;
    font-weight: 900;
  }
  
  .add-record-window {
    padding-bottom: 10px;
    height: 85%;
    left: min(150px, 4%);
    right: min(150px, 4%);
    background-color: var(--background-color);
    z-index: 5;
  }
  
  @media screen and (min-width: 520px) {
    .add-record-window[sidebar-open="true"] {
      transform: translateX(10%);
      left: 200px;
      right: min(300px, 10.5%);
      transition: 0.5s ease-out;
    }
  }
  
  @media screen and (max-width: 520px) {
    .add-record-window[sidebar-open="true"] {
      transform: translateX(0%);
      left: min(150px, 4%);
      right: min(150px, 4%);
    }
  }
  
  .add-record-window[sidebar-open="false"] {
    transform: translateX(0%);
    left: min(150px, 4%);
    right: min(150px, 4%);
    transition: 0.5s ease-out;
  }
  
  .add-record-header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
  }
  
  button {
    background-color: var(--primary-color);
    color: var(--text-color-1);
    border: 1px solid rgb(197, 197, 197);
    padding: 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  
  
  /*Well */
  .well-button {
    width: 54px;
    height: 30px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    margin: 1px;
  }
  
  #button-bar-add {
    width: 120px;
    height: 50px;
    font-size: 20px;
  }
  
  .table-field {
    border: 1px solid #213760;
    background-color: var(--text-color-1);
    border-radius: 0.5rem;
    padding: 2px;
  }
  
  .table-column {
    min-width: 6%;
  }
  
  tbody tr:first-child {
    height: 48px;
  }
  
  .table-wrapper {
    overflow-x: scroll;
  }
  
  .add-row-input {
    width: 100%;
    height: 100%;
  
    display: block;
    padding: 2px;
    border: 0;
    border-radius: 0.25rem;
    background-color: #ffffff;
    border: 1px solid var(--primary-color);
    outline: none;
    color: var(--text-color-2);
    font-size: 20px;
  }
  
  .action-column {
    
    justify-content: space-around;
    align-content: center;
  }
  
  /* Table Styling*/
  tr:nth-child(even) {
    background-color: rgba(160, 208, 250, 0.4);
  }
  
  th:nth-child(even),
  td:nth-child(even) {
    background-color: rgba(160, 208, 250, 0.4);
  }
  
  /* Modal */
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  @media screen and (max-width: 600px) {
    .modal-content {
      margin: 1% auto;
      margin-left: 1%;
      margin-right: 1%;
      padding: 1px;
      width: 98%;
      height: 90%;
    }
  }
  
  /* The Close Button for Modal Box*/
  #modal-add-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #modal-add-close:hover,
  #modal-add-close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  
  /* Modal Form*/
  #modal-add-header {
    text-align: center;
  }
  
  .add-record-container {
    border: 1px solid rgb(197, 197, 197);
    display: flex;
    margin: 10px;
    padding: 15px;
    padding-left: 10vw;
    background-color: var(--background-color);
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
  }
  
  @media screen and (max-width: 600px) {
    .add-record-container {
      margin: 1px;
      padding: 1px;
    }
  }
  
  .add-field-container {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    width: 800px;
  }
  
  .add-field {
    height: 48px;
    padding: 16px;
  }
  
  .add-record-input-field input {
    display: block;
    height: 25px;
    width: 40vw;
    padding: 2px;
    border: 0;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    color: var(--text-color-2);
    font-size: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .add-record-input-field input {
      width: 60vw;
    }
  }
  
  .button-container {
    display: flex;
    width: 40vw;
    justify-content: center;
  }
  
  @media screen and (max-width: 600px) {
    .button-container {
      width: 60vw;
    }
  }
  
  #add-button {
    width: 120px;
    height: 60px;
    font-size: 24px;
    padding: 2px;
    border-radius: 1rem;
  
  }